<% include partials/header %>
<h1>
    You fell in love with <%= thingVar  %>
</h1>

<% if(thingVar.toLowerCase()  === 'rusty') { %>
    <p> This is a great choice <%= thingVar.toUpperCase() %></p>
    <%}%>
<p>PS this is the Love.ejs File</p>

<% include partials/footer%>